* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-font: "Catamaran", sans-serif;
  --secondar-font: "Roboto", sans-serif;
  --font-color-primary: #1b0238;
  --font-color-secondary: #6b6b84; /*paragraph color*/
  --font-color-third: #ea512e;
  --background-color-primary: #ea512e;
  --hover-bgcolor: #f5890d;
}
body {
  font-family: var(--secondar-font);
}
/** Custom CSS  **/
.line-height {
  line-height: 28.8px;
}
.para-text {
  color: var(--font-color-secondary);
  font-size: 16px;
}
.section {
  padding-top: 2rem;
}
/* Text Color  */
.text-white {
  color: #fff;
}
/* Border  */
.border-none {
  border: none;
}
.cursive-font {
  font-size: 20px;
  color: var(--font-color-third);
  font-family: "Sacramento", cursive;
}
.d-flex {
  display: flex;
}
.align-item-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.container {
  padding: 0 5rem;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
/* Button   */
.btn {
  font-size: 1rem;
  font-weight: 500;
  font-family: var(--primary-font);
  color: #fff;
}

/* Headings  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  color: var(--font-color-primary);
}
h1 {
  font-size: 3.75rem; /*60px*/
  font-weight: 700;
  line-height: 72px;
}
h2 {
  font-size: 2.813rem; /*45px*/
  font-weight: 700;
  line-height: 54px;
}
h3 {
  font-size: 1.875rem; /*30px*/
  font-weight: 700;
  line-height: 36px;
}
h4 {
  font-size: 1.563rem; /*25px*/
  font-weight: 700;
  line-height: 30px;
}
h5 {
  font-size: 22px; /*22px*/
  font-weight: 700;
  line-height: 30px;
}

/* Header Start  */
header {
  position: fixed;
  background: #fff;
  width: 100%;
  z-index: 999;
}
.main-menu li {
  padding: 28px 0px 30px 22px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.main-menu li:hover > a {
  color: var(--font-color-third);
}
.main-menu li a,
.lang {
  font-size: 16px;
  font-family: var(--secondar-font);
  font-weight: 700;
  color: var(--font-color-primary);
}
.headr-right {
  gap: 20px;
}
.contactus {
  background: var(--background-color-primary);
  padding: 12px 34px;
  border-radius: 12px;
}
/* Sub menu item  */
.sub-menu-item {
  position: absolute;
  top: 80px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: none;
}
.sub-menu-item li {
  width: 250px;
  padding: 12px 0;
}
.main-menu li:hover .sub-menu-item {
  display: block;
}

/* Hero Banner Start  */
.hero-banner {
  display: flex;
  background: #f1e7ff;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 850px;
}

.hero-left {
  width: 60%;
  padding-right: 8rem;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.hero-left strong {
  color: var(--font-color-third);
}
.hero-left h1 {
  margin: 24px 0;
}
.banner-shape {
  width: 100px;
  object-fit: cover;
  position: absolute;
}
.banner-shap-1 {
  top: 7rem;
  left: 4rem;
  animation: heroanim 2s linear infinite alternate;
}
@keyframes heroanim {
  0% {
    left: 4;
  }
  100% {
    left: 2rem;
  }
}
@keyframes heroanimright {
  0% {
    right: 0;
  }
  100% {
    right: 2rem;
  }
}
@keyframes heroanimup-down {
  0% {
    bottom: 6;
  }
  100% {
    bottom: 4.5rem;
  }
}
.banner-shap-2 {
  right: 0rem;
  top: 7rem;
  animation: heroanimright 2s linear infinite alternate;
}
.banner-shap-3 {
  left: 4rem;
  bottom: 10rem;
  z-index: 20;
  animation: heroanim 2s linear infinite alternate;
}
.banner-shap-4 {
  right: 0rem;
  bottom: 6rem;
  z-index: 5;
  animation: heroanimup-down 2s linear infinite alternate;
}

.hero-right {
  width: 40%;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  /* height: 800px; */
  height: auto;
  padding-bottom: 3rem;
}
.hero-right img {
  width: 634px;
  position: absolute;
  right: 0rem;
  top: 9rem;
}
.cloud {
  position: absolute;
  bottom: -1px;
  width: 100%;
}
.hero-btn {
  gap: 20px;
  margin-top: 20px;
}
.lern-btn,
.find-btn {
  background: var(--background-color-primary);
  color: #fff;
  padding: 14px 34px;
  border-radius: 8px;
  font-size: 15px;
}
.btn-anim-up,
.btn-anim-down {
  position: relative;
  overflow: hidden;
  z-index: 11;
}

.btn-anim-up::after,
.btn-anim-down::after {
  content: "";
  width: 100%;
  background: var(--hover-bgcolor);
  position: absolute;
  left: 0;
  top: 0px;
  border-radius: 8px;
  z-index: -1;
  transition: ease-in-out 0.5s;
}
.btn-anim-up:hover::after {
  height: 0%;
}
.btn-anim-down::after {
  height: 0%;
}
.btn-anim-up::after {
  height: 100%;
}
.btn-anim-down:hover::after {
  height: 100%;
}

/* Who We Are Start */
.who-wrapp {
  gap: 60px;
}
.who-left img {
  width: 480px;
  height: 480px;
  border-radius: 50%;
  position: relative;
  z-index: 40;
}
.who-left {
  position: relative;
}
.who-left::before {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  background: #f5890d;
  z-index: 5;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 40%;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  animation: whoanim-inner 2s infinite linear alternate;
}
.who-left::after {
  content: "";
  position: absolute;
  width: 542px;
  height: 545px;
  background: var(--background-color-primary);
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  border-top-left-radius: 65%;
  border-bottom-right-radius: 71%;
  border-radius: 60%;
  animation: whoanimouter 1s infinite linear alternate;
}
@keyframes whoanimouter {
  0% {
    border-top-left-radius: 65%;
    border-bottom-right-radius: 71%;
  }
  100% {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}
@keyframes whoanim-inner {
  0% {
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    width: 500px;
  }
  100% {
    border-top-left-radius: 55%;
    border-bottom-right-radius: 55%;
    width: 520px;
  }
}
.who-right {
  position: relative;
}
.who-we-are-shape {
  position: absolute;
  top: -50px;
  right: 0;
  animation: heroanimright 2s linear infinite alternate;
}
.who-right h2 {
  margin: 16px 0;
  padding-right: 50px;
}
.who-we-title-wrap {
  padding: 24px 0;
}

.who-we-tit-top,
.who-we-tit-bottom {
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.who-we-tit-top {
  margin-bottom: 20px;
}
.who-we-tit-top div:nth-child(2),
.who-we-tit-bottom div:nth-child(2) {
  width: 50%;
}
.who-we-tit-top strong,
.who-we-tit-bottom strong {
  width: 35px;
  height: 35px;
  background: var(--background-color-primary);
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.who-we-tit-top div:hover strong,
.who-we-tit-bottom div:hover strong {
  background: var(--hover-bgcolor);
}
.who-we-tit-top label,
.who-we-tit-bottom label {
  font-weight: 500;
}
.read-btn {
  display: inline-block;
}

/* Classes Start  */
.classes {
  background: #fdf6ed;
  padding: 6rem 0;
  margin-top: 6rem;
  position: relative;
  z-index: 22;
}
.main-title {
  text-align: center;
  padding-bottom: 3rem;
}
.main-title strong {
  padding-bottom: 1rem;
  display: block;
}
.class-cardRow {
  gap: 30px;
}
.class-cardRow .card:hover .class-cardimgbox img {
  transform: rotate(2deg) scale(1.2);
}
.class-cardRow .card:hover .class-card-price {
  background: var(--hover-bgcolor);
}
.class-cardRow .card:hover .class-cardtitle h4,
.class-cardRow .card:hover .class-cardtitle h5 /*Blog*/ {
  color: var(--font-color-third);
}
.class-cardimgbox {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}
.class-cardimgbox img {
  max-width: 100%;
  width: 100%;
  display: block;
  transition: all 0.5s;
}
.class-cardbody {
  background: #fff;
  position: relative;
  padding: 2.5rem 1.9rem 2.3rem 1.9rem;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.class-cardtitle p {
  font-size: 16px;
  padding-top: 18px;
  padding-bottom: 22px;
  border-bottom: 1px dashed var(--font-color-third);
}
.class-cardcategory {
  padding-top: 22px;
  gap: 12px;
  flex-wrap: wrap;
}
.class-cardcategory strong {
  color: var(--font-color-third);
}
.class-cardcategory label {
  font-weight: 500;
}
.class-card-price {
  background: var(--background-color-primary);
  display: inline-flex;
  padding: 8px 10px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  border-bottom-left-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.join-clss-btn {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 16px;
  margin-top: 28px;
}
.clas-shape1-img,
.clas-shape2-img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.clas-shape2-img {
  right: 0;
}

/* Care Start  */
.care {
  padding: 6rem 0;
  position: relative;
}
.care .container {
  gap: 25px;
}

.care-lefti-img {
  width: 546px;
  height: 448px;
}
.care-right h2 {
  padding: 1rem 0;
}
.care-acti-right h4 {
  padding-bottom: 12px;
}
.care-acti-right p {
  font-size: 15px;
}
.care-right:nth-child(2) .care-acti {
  padding: 15px 0;
}
.acti-one,
.acti-two,
.acti-three {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  position: relative;
  font-size: 20px;
  transition: all 0.5s;
}
.acti-one::after,
.acti-two::after,
.acti-three::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  padding: 4px;
}
.acti-one {
  background: #d3f5fe;
}
.acti-two {
  background: #fce0ad;
}
.acti-three {
  background: #fbc9d5;
}
.acti-one::after {
  border: 2px solid #d3f5fe;
}
.acti-two::after {
  border: 2px solid #fce0ad;
}
.acti-three::after {
  border: 2px solid #fbc9d5;
}
.care-acti:hover .acti-one,
.care-acti:hover .acti-two,
.care-acti:hover .acti-three {
  background-color: var(--font-color-third);
  color: #fff;
}
.acti-one:hover:after,
.acti-two:hover:after,
.acti-three:hover:after {
  border: 1px solid var(--font-color-third);
}
.care-acti {
  gap: 30px;
}
.care-shape1-img,
.care-shape2-img {
  position: absolute;
  left: 20px;
}
.care-shape1-img {
  top: 30px;
}
.care-shape2-img {
  bottom: 30px;
}
.care-shape3-img {
  right: 0;
  position: absolute;
  top: 100px;
  z-index: -1;
}

/* Teacher Start  */
.teacher {
  background: url("../images/teacher-bg.jpg");
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
}
.tech-wrap {
  gap: 30px;
  flex-wrap: wrap;
}
.teach-item-box img {
  width: 282px;
  height: 282px;
  border-radius: 50%;
}
.teach-item-box figcaption {
  text-align: center;
  padding-top: 32px;
}
.teach-item-box strong,
.testi-card-content strong {
  color: var(--font-color-third);
  font-weight: 600;
  font-family: var(--primary-font);
  padding-top: 12px;
  display: block;
}
.teach-item-box {
  position: relative;
  z-index: 34;
}
.social-icon {
  position: absolute;
  bottom: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 11;
  transition: all 0.3s;
  opacity: 0;
}
.social-icon a,
.social-icon-ft a {
  background: var(--background-color-primary);
  color: #fff;
  margin: 0 4px;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.5s;
}
.social-icon a:hover {
  background: var(--hover-bgcolor);
}
.teach-item-box:hover .social-icon {
  opacity: 1;
  bottom: 35%;
}
.icon {
  background: var(--background-color-primary);
  margin: 0 5px;
  padding: 6px;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}
.icon:hover {
  background: var(--hover-bgcolor);
}
.circle-anim {
  position: relative;
  display: block;
}
.circle-anim::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  background: var(--background-color-primary);
  z-index: -1;
  top: 37%;
  left: -5px;
  transform: translateY(-50%);
  border-top-left-radius: 65%;
  border-bottom-right-radius: 71%;
  border-radius: 60%;
  animation: circleanim 3s infinite linear alternate;
}
@keyframes circleanim {
  0% {
    border-top-left-radius: 65%;
    border-bottom-right-radius: 71%;
  }
  100% {
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}

/* About Us  */

.testi-card {
  background: #fee9ca;
  padding: 30px 38px;
  border-radius: 50%;
}
.testi-card-body {
  flex-direction: column;
}
.testi-card-content {
  text-align: center;
}
.testi-card-content p {
  font-size: 15px;
  padding-top: 18px;
  padding-bottom: 22px;
}
.testi-card-content strong {
  padding-top: 6px;
}
.aboutus {
  padding: 6rem 0;
}
.testi-card:hover .fa-quote-left {
  background: var(--background-color-primary);
  color: #fff;
}
.fa-quote-left {
  background: #fff;
  padding: 20px;
  border-radius: 50%;
  color: var(--font-color-third);
  font-size: 24px;
  transition: all 0.5s;
}
.testi-left-arro,
.testi-right-arro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  background: var(--background-color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff;
  font-size: 26px;
  display: none;
}
.testi-left-arro {
  left: 14px;
}
.testi-right-arro {
  right: 14px;
}
.slider-wrapper {
  position: relative;
}
.slider-wrapper:hover .testi-left-arro,
.slider-wrapper:hover .testi-right-arro {
  display: flex;
}
.slider-wrapper img {
  width: 100%;
  height: 100px;
  object-fit: contain;
  padding-top: 16px;
}

/* Events Start  */
.events {
  background: url(../images/event-bg.jpg) rgb(0 0 0 / 35%);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  padding: 6rem 0;
  background-blend-mode: multiply;
}
.events .main-title strong,
.events .main-title h2 {
  color: #fff;
}
.event-card {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.event-card-body {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  font-family: var(--primary-font);
  font-weight: 500;
}
.event-card-body img {
  max-width: 100%;
  height: auto;
}
.event-time label,
.event-address address {
  color: #212529;
  font-size: 18px;
  padding-left: 4px;
  font-style: normal;
  display: inline-block;
}
.event-time i,
.event-address i {
  color: var(--font-color-third);
}
.event-time {
  padding-top: 18px;
  padding-bottom: 12px;
}
.event-card-right {
  flex-direction: column;
  align-items: center;
  gap: 10px;
  line-height: 1;
  padding-right: 70px;
}
.event-card-right h6 {
  font-size: 90px;
  color: var(--font-color-third);
}
.event-card-right label:nth-child(2) {
  font-size: 20px;
  color: var(--font-color-third);
}

/* Blog Start  */
.blog {
  padding: 6rem 0;
}
.blog .class-cardtitle p {
  border-bottom: none;
  padding-bottom: 0;
}
.blog .class-cardbody {
  background: #fdeee9;
  padding-top: 28px;
}
.blog .class-cardtitle p {
  padding-top: 10px;
}
.blog-auth {
  font-family: var(--primary-font);
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
}
.blog-admin label:nth-child(1),
.blog-date label:nth-child(1) {
  color: var(--font-color-third);
}
.blog-admin a {
  color: #283d5e;
}
/* Footer Start  */
#footer-main {
  background: url(../images/footer-bg.jpg) rgba(0, 0, 0, 0.8);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 6rem 0;
}
.footer-top {
  color: #fff;
}
.ft-left p {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 28px;
}
/*Footer social icon*/
.social-icon-ft {
  gap: 8px;
  transition: ease-in-out 0.5s;
}
.social-icon-ft a:nth-child(1) {
  margin-left: 0;
}
.social-icon-ft a:hover {
  margin-top: -8px;
  background: var(--hover-bgcolor);
}
.ft-item {
  display: flex;
  align-items: start;
  gap: 12px;
  margin-top: 32px;
}
.gallry-box {
  max-width: 300px;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  gap: 4px;
}
.gallry-box a {
  overflow: hidden;
  display: inline-flex;

  position: relative;
}

.gallry-box a:hover img {
  transform: scale(1.1);
}
.gallry-box img {
  width: 97px;
  transition: ease-in-out 0.5s;
}
.gallry-box a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1;
  opacity: 0.5;
  transition: ease-in-out 0.5s;
}
.gallry-box a:hover::before {
  background: #ea512e;
}

.line {
  width: 60px;
  background: var(--background-color-primary);
  height: 2px;
  display: block;
  margin-top: 12px;
}
.fa-phone {
  transform: rotate(90deg);
}
.ft-ico {
  color: var(--font-color-third);
  font-size: 18px;
  padding-top: 6px;
}
.hover-line {
  padding-top: 8px;
  color: #fff;
  display: block;
  font-size: 14px;
  position: relative;
  transition: ease-in-out 0.5s;
}
.hover-line::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  background: var(--background-color-primary);
  bottom: -4px;
  left: 0;
  transition: ease-in-out 0.5s;
}
.hover-line:hover::before,
.hover-line:hover {
  width: 100%;
  color: var(--font-color-third);
}
