@media screen and (min-width:1024px) {
    
}

@media all and (max-width:1920px){
}

@media all and (max-width:1600px){
}

@media all and (max-width:1366px){
}

@media all and (max-width:1200px){
    
}

@media all and (max-width:1199px){
}

@media all and (max-width:1024px){
    .swiper-button-next, .swiper-button-prev{
        height: 400px !important;
    }
    .swiper-pagination{bottom: 0% !important;}
    .banner .social-icon{top: 75% !important;}
}

@media all and (max-width:991px){
    
}

@media all and (max-width:800px){		
}

@media all and (max-width:768px){
    h1{font-size: 40px !important;}
    h2{font-size: 35px !important;}
    .banner{padding-top:120px !important;}
    section{ padding-top: 80px !important; padding-bottom: 80px !important;}

    .testiSlider .mySwiper{height: 480px !important;}
    .swiper-button-next, .swiper-button-prev{
        height: 400px !important;
    }
    .swiper-pagination {
        bottom: 5% !important;
    }
}
@media all and (max-width:767px){
}

@media all and (max-width:640px){		
}

@media all and (max-width:600px){          
}

@media all and (max-width:575px){
    h2{font-size: 30px;}
    .about{
        .card{
            .card-body{
                width: 100% !important;
            .content{padding-left:0 !important;}
            .aboutimg2{width: 100% !important; margin-left: inherit;}
            }
        }
    }
    
}

@media all and (max-width:480px){
}

@media all and (max-width:414px){
   
}

@media all and (max-width:360px){
}

@media all and (max-width:320px){
}

@media all and (max-width:800px){
}

