@media screen and (min-width:1024px) {
    
}

@media all and (max-width:1920px){
}

@media all and (max-width:1600px){
}

@media all and (max-width:1366px){
}

@media all and (max-width:1200px){
    .section-padding{
        padding-top: 100px;
    }
}

@media all and (max-width:1199px){
}

@media all and (max-width:1024px){
}

@media all and (max-width:991px){
    #hero h1{
        font-size: 28px;
    }
    .section-padding{
        padding-bottom: 0;
        padding-top: 145px;
    }
}

@media all and (max-width:800px){		
}

@media all and (max-width:768px){
    #hero{
        padding-top: 120px;
    }
    .navbar .navbar-nav .nav-item .nav-link{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-toggler{
        line-height: 1.5;
    }
}
@media all and (max-width:767px){
}

@media all and (max-width:640px){		
}

@media all and (max-width:600px){          
}

@media all and (max-width:575px){
    
}

@media all and (max-width:480px){
}

@media all and (max-width:414px){
    #hero h1{
        font-size: 26px;
    }
}

@media all and (max-width:360px){
}

@media all and (max-width:320px){
}

@media all and (max-width:800px){
}

